<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Project Blog{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{asset('styles/styles.css')}}">
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Custom CSS -->
        <link href="css/simple-sidebar.css" rel="stylesheet">

        {% block stylesheets %}
            
        {% endblock %}

    </head>
    <body>
    <div class="myWrapper">
    <h1 style="text-align: center;">Blog - PROJECT XV</h1>
        <div class="pull-left">
            <a href="{{ path('fos_user_registration_register') }}"><b>Zarejestruj się</b></a> | 
            <a href="{{ path('support_e-mail') }}"><b>Skontaktuj się z nami</b></a> | 
        </div>
        {% if app.user %}
            <span class="pull-right">Zalogowany jako <b>{{ app.user }}</b>
                {% if is_granted('ROLE_ADMIN') %}
                ][<a href="{{ path('admin') }}">Panel administracyjny</a>][
                {% endif %}
            </span>
            {% else %}
                <span class="pull-right">Nie jesteś zalogowany, 
                    <a href="{{ path('fos_user_security_login') }}">Zaloguj się</a>
                </span>
        {% endif %}
        {% block navBar0 %}
            <hr>
            <div class="nav">
                <div class="navTile">
                    <a href="{{ path('homepage') }}" class="link">Strona główna</a>
                </div>
                <div class="navTile">
                    <a href="{{ path('post') }}" class="link">Posty</a>                    
                </div>
                {% if app.user %}
                    <div class="navTile">
                        <ul class="menu">                       
                            <li><a href="{{ path('fos_user_profile_show') }}" class="link">
                                Moje konto</a>
                            </li>
                            {% if is_granted('ROLE_ADMIN') %}                         
                            <li class="menuItem">
                                <a href="{{ path('new_article') }}" class="link">
                                    Napisz artykuł
                                </a>
                            {% endif %}
                            </li>
                            <li class="menuItem">
                                <a href="{{ path('mailbox') }}" class="link">
                                    Wiadomości
                                </a>
                            </li>
                            <li class="menuItem">
                                <a href="{{ path('fos_user_security_logout') }}" class="link">Wyloguj się</a>
                            </li>
                        </ul>                       
                    </div>
                {% endif %}
            </div>
            <div style="clear: both;"></div>
        {% endblock %}
        <hr>
        {% block sideBar0 %}{% endblock %}

        
        {% for message in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        {% for message in app.session.flashbag.get('warning') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
        {% block body %}

                
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </div>
    </body>
</html>
